@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  body {
    font-family: "Poppins", sans-serif;
  }
}

@layer components {
  .wrapper {
    @apply m-auto max-w-[1127px];
  }
}

@layer utilities {
  .bg-section1 {
    background-image: url("@/assets/images/banner1.jpeg"),
      url("@/assets/images/banner1-gradient.svg");
    background-size: cover;
    background-blend-mode: overlay;
  }
  .bg-section2 {
    background-image: url("@/assets/images/banner2.jpeg"),
      url("@/assets/images/banner2-overlay.svg");
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    height: 413px;
    width: 100%;
  }

  .bg-section3 {
    background-image: url("@/assets/images/banner3.jpeg"),
      url("@/assets/images/banner3-overlay.svg");
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    height: 547px;
    background-color: rgba(0, 0, 0, 0.15);
    width: 100%;
  }
}
